.break-overflow {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

.break-overflow-all, .break-overflow-all * {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

.css-disabled {
  pointer-events: none;
  opacity: 0.5;
  background: #CCC;
}

.css-disabled-all, .css-disabled-all * {
  background: #F5F5F5;
  color : #C3C3C3;
  cursor:none;
  pointer-events: none;
}
